:root {
    --color-primary-1: #e9a209;
    --color-primary-2: #ffae00;
    --color-primary-3: #ffe100;

    --color-neutral-0: #f4f4f4;
    --color-neutral-1: #272727;
    --color-neutral-2: #e0e0e0;
}